<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Manifests>
    <Manifest>Microsoft.LightSwitch.Base.Client.Manifest.xml</Manifest>
    <Manifest>Microsoft.LightSwitch.Client.Internal.Manifest.xml</Manifest>
  </Manifests>
  <SubsystemPackages>
    <SubsystemPackage>ModelLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeExtensionLoader</SubsystemPackage>
    <SubsystemPackage>PresentationRuntimeLoader</SubsystemPackage>
    <SubsystemPackage>ReportingLoader</SubsystemPackage>
    <SubsystemPackage>RulesLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeServicesLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeShellLoader</SubsystemPackage>
    <SubsystemPackage>ThemingRuntimeLoader</SubsystemPackage>
    <SubsystemPackage>UtilitiesLoader</SubsystemPackage>
    <SubsystemPackage>BaseServicesLoader</SubsystemPackage>
    <SubsystemPackage>DiagnosticsLoader</SubsystemPackage>
    <SubsystemPackage>RuntimeUserCodeLoader</SubsystemPackage>
  </SubsystemPackages>
  <UserCodeAssemblies></UserCodeAssemblies>
  <ExtensionAssemblies>
    <ExtensionAssembly>Microsoft.LightSwitch.SdkProxy, Version=10.0.11.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>Microsoft.LightSwitch.Cosmopolitan.Client, Version=11.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>Microsoft.LightSwitch.Extensions.Client, Version=11.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>OfficeIntegration.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>OfficeIntegration.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>MetroThemeExtension.Client, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>MetroThemeExtension.Common, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>DocumentToolkit.Client.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>FirstFloor.Documents, Version=2.5.0.0, Culture=neutral, PublicKeyToken=2D21EC3CD074C59A</ExtensionAssembly>
    <ExtensionAssembly>FirstFloor.Documents.Controls, Version=2.5.0.0, Culture=neutral, PublicKeyToken=2D21EC3CD074C59A</ExtensionAssembly>
    <ExtensionAssembly>System.Windows.Interactivity, Version=5.0.5.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35</ExtensionAssembly>
    <ExtensionAssembly>FirstFloor.Documents.Pdf, Version=2.5.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>ZLib, Version=1.9.1.9000, Culture=neutral, PublicKeyToken=5AA7AB6A0E3EC07B</ExtensionAssembly>
    <ExtensionAssembly>DocumentToolkit.Client, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>DocumentToolkit.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>FirstFloor.Documents.IO, Version=2.5.2.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>FirstFloor.Documents.IO.LibTiff, Version=2.5.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>Luminous.Controls.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>Luminous.Controls.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>PixataCustomControls.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
    <ExtensionAssembly>PixataCustomControls.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ExtensionAssembly>
  </ExtensionAssemblies>
</Configuration>